<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-tf-snippets</string>
	<key>connections</key>
	<dict>
		<key>1136AF87-0343-453D-8D87-29723E2A94D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83182C13-E57C-483D-97BA-A73A16516B93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13FBE496-4223-47C3-BE79-BB27E318EE0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58A5C531-6614-4EF9-B8D0-A7010AE74235</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A1488D6-A96B-4AD4-BDC4-5FF4265A3F3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7E2AB94-2033-4B97-AD09-8D03E1C4F6BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0CDFB4D1-CAD3-4730-B14E-A897F1834F20</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1136AF87-0343-453D-8D87-29723E2A94D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58A5C531-6614-4EF9-B8D0-A7010AE74235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0060185-8082-400E-AEC1-52CC07810E4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9C1E8E48-0784-4688-826B-A5A1E6C2E464</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83182C13-E57C-483D-97BA-A73A16516B93</key>
		<array/>
		<key>ACE2859B-D813-4921-ACE5-59B62E8CC3E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A1488D6-A96B-4AD4-BDC4-5FF4265A3F3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFCD0FED-9278-4450-97D9-1DD1735CC46D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFCD0FED-9278-4450-97D9-1DD1735CC46D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13FBE496-4223-47C3-BE79-BB27E318EE0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7E2AB94-2033-4B97-AD09-8D03E1C4F6BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B4AE870-5CE7-4901-85AB-091E43FAFEAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike</string>
	<key>description</key>
	<string>Create</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-tf-snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0B4AE870-5CE7-4901-85AB-091E43FAFEAA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dest=/tmp/$(basename '{query}')
curl --silent -L '{query}' &gt; $dest
echo -n $dest</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C7E2AB94-2033-4B97-AD09-8D03E1C4F6BA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat {query}
pwd</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1136AF87-0343-453D-8D87-29723E2A94D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83182C13-E57C-483D-97BA-A73A16516B93</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Calculating infinity</string>
				<key>script</key>
				<string>./options.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>r for resource, d for data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ACE2859B-D813-4921-ACE5-59B62E8CC3E6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>https://</string>
						<key>outputlabel</key>
						<string>update</string>
						<key>uid</key>
						<string>0CDFB4D1-CAD3-4730-B14E-A897F1834F20</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3A1488D6-A96B-4AD4-BDC4-5FF4265A3F3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>New version available for alfred-tf-snippets</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B0060185-8082-400E-AEC1-52CC07810E4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./check-for-new-release.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AFCD0FED-9278-4450-97D9-1DD1735CC46D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>new version</string>
						<key>uid</key>
						<string>9C1E8E48-0784-4688-826B-A5A1E6C2E464</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>58A5C531-6614-4EF9-B8D0-A7010AE74235</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>\n</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>13FBE496-4223-47C3-BE79-BB27E318EE0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B4AE870-5CE7-4901-85AB-091E43FAFEAA</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1136AF87-0343-453D-8D87-29723E2A94D8</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>13FBE496-4223-47C3-BE79-BB27E318EE0A</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>3A1488D6-A96B-4AD4-BDC4-5FF4265A3F3A</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>58A5C531-6614-4EF9-B8D0-A7010AE74235</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>83182C13-E57C-483D-97BA-A73A16516B93</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>ACE2859B-D813-4921-ACE5-59B62E8CC3E6</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>AFCD0FED-9278-4450-97D9-1DD1735CC46D</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>B0060185-8082-400E-AEC1-52CC07810E4D</key>
		<dict>
			<key>xpos</key>
			<integer>825</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>C7E2AB94-2033-4B97-AD09-8D03E1C4F6BA</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.5.1</string>
	<key>webaddress</key>
	<string>https://github.com/mhristof/alfred-tf-snippets</string>
</dict>
</plist>
