name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
    - name: install codedown
      run: npm install -g codedown
    - name: get terraform-provider-aws
      run: make terraform-provider-aws
    - name: generate all
      run: make
    - name: test
      run: ./options.sh | jq .
    - name: create pr
      run: |
        touch "alfred/$(date)"
        git checkout -b updating-generated-files
        git add alfred
        echo $id_rsa > id_rsa
        chmod 600 id_rsa
        git config --global user.email "mhristof@gmail.com"
        git config --global user.name "Mbot"
        git config --global url."git@github.com:".insteadOf "https://github.com/"
        git commit -m 'Updated generated files'
        git push --set-upstream origin updating-generated-files
      env: # Or as an environment variable
        id_rsa: ${{ secrets.DEPLOY_ID_RSA }}
        GIT_SSH_COMMAND: "ssh -i id_rsa"
