name: branches

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: deepakputhraya/action-branch-name@master
        with:
          allowed_prefixes: 'major,feature,bug'
          ignore: master
      - name: current version
        run: echo "::set-output name=version::$(make version)"
        id: version
      - name: current fragment
        run: echo "::set-output name=fragment::$(make fragment)"
        id: fragment
      - name: bump release version
        id: next_version
        uses: christian-draeger/increment-semantic-version@1.0.0
        with:
          current-version: ${{ steps.version.outputs.version }}
          version-fragment: ${{ steps.fragment.outputs.fragment }}
      - name: update current version
        run: sed -i.bak 's/${{ steps.version.outputs.version }}/${{ steps.next_version.outputs.next-version }}'
      - name: commit the version bump
        uses: docker://cdssnc/auto-commit-github-action
        args: 'auto bump the version'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
